<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>giftey.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>117312AC1D19CA6E001DDA36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>117312C01D19CA6F001DDA36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>117312CB1D19CA6F001DDA36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
