<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cor Data.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>11A8ABA41D1C538800430A5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11A8ABBB1D1C538900430A5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11A8ABC61D1C538900430A5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
